<div class="row">
  <div class="col-md-6">
	  <h3><a href="https://datacarpentry.org/openrefine-socialsci/01-introduction/index.html" target="_blank">Day 1</a></h3>
    <table class="table table-striped">
      <tr> <td>9:00 AM</td>  <td>Introduction</td> </tr>
      <tr> <td>9:20 AM</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a> </td>  </tr>
      <tr> <td>9:25 AM</td>  <td><a href="http://swcarpentry.github.io/shell-novice/01-intro/index.html" target="_blank">Setup</a></td> </tr>
      <tr> <td>09:35 AM</td>  <td><a href="http://swcarpentry.github.io/shell-novice/02-filedir/index.html" target="_blank">1. Navigating Files and Directories</a></td> </tr>
      <tr> <td>10:15 AM</td>  <td><a href="https://datacarpentry.org/openrefine-socialsci/03-filter-sort/index.html" target="_blank">2. Working with FIles and Directories</a></td> </tr>
      <tr> <td>11:00 AM</td>  <td>BREAK</td> </tr>
      <tr> <td>10:10 AM</td>  <td><a href="http://swcarpentry.github.io/shell-novice/04-pipefilter/index.html" target="_blank">3. Pipes and Filters</a></td> </tr>
      <tr> <td>11:45 AM</td>  <td><a href="http://swcarpentry.github.io/shell-novice/05-loop/index.html" target="_blank">4. Loops-Part1</a></td> </tr>
      <tr> <td>12:00 AM</td>  <td>Noon</td> </tr>    
      <tr> <td>13:00 PM</td>  <td><a href="<tr> <td>11:00 AM</td>  <td>BREAK</td> </tr>" target="_blank">5.Loops-Part2</a></td> </tr>
      <tr> <td>13:40 PM</td>  <td><a href="http://swcarpentry.github.io/shell-novice/06-script/index.html" target="_blank">6.  Shell Scripts</a></td> </tr>
      <tr> <td>14:25 PM</td>  <td>Break</td> </tr>
      <tr> <td>14:35 PM</td>  <td><a href="http://swcarpentry.github.io/git-novice/01-basics/index.html" target="_blank">7. Automated Version Control</td> </tr>
      <tr> <td>14:45 PM</td>  <td><a href="http://swcarpentry.github.io/git-novice/02-setup/index.html" target="_blank">8. Setting up Git</td> </tr>
      <tr> <td>14:55 PM</td>  <td><a href="http://swcarpentry.github.io/git-novice/03-create/index.html" target="_blank">9. Creating a Repository</td> </tr>
      <tr> <td>15:05 PM</td>  <td><a href="http://swcarpentry.github.io/git-novice/04-changes/index.html" target="_blank">10. Tracking a Changes</td> </tr>
      <tr> <td>15:25 PM</td>  <td><a href="http://swcarpentry.github.io/git-novice/05-history/index.html" target="_blank">11. Exploring History</td> </tr>
      <tr> <td>15:50 PM</td>  <td><a href="http://swcarpentry.github.io/git-novice/06-ignore/index.html" target="_blank">12. Ignoring Things</td> </tr>
      <tr> <td>16:00 PM</td>  <td><a href="http://swcarpentry.github.io/git-novice/07-github/index.html" target="_blank">13. Remotes in Git</td> </tr>
      <tr> <td>16:20 PM</td>  <td>Wrap up/End</td> </tr>
    </table>
  </div>
  
  <div class="col-md-6">
    <h3><a href="https://datacarpentry.org/python-socialsci/index.html" target="_blank">Day 2</a></h3>
    <table class="table table-striped">
      <tr> <td>09:00 AM</td>  <td><a href="https://datacarpentry.org/python-socialsci/09-extracting-data/index.html" target="_blank">Review of Day 3</a></td> </tr>
      <tr> <td>09:15 AM</td>  <td><a href="https://datacarpentry.org/python-socialsci/10-aggregations/index.html" target="_blank">1. Data Aggregation using Pandas</a></td> </tr>
      <tr> <td>09:45 AM</td>  <td><a href="https://datacarpentry.org/python-socialsci/11-joins/index.html" target="_blank">2. Joining Pandas Dataframes</a></td> </tr>
      <tr> <td>10:30 AM</td>  <td>Break</td> </tr>
      <tr> <td>10:40 AM</td>  <td><a href="https://datacarpentry.org/python-socialsci/12-long-and-wide/index.html" target="_blank">3.Wide and long data formats</a></td> </tr>
      <tr> <td>11:20 AM</td>  <td><a href="https://datacarpentry.org/python-socialsci/13-matplotlib/index.html" target="_blank">4. Data visualisation using Matplotlib</a></td> </tr>
      <tr> <td>12:15 PM</td>  <td><a href="https://datacarpentry.org/python-socialsci/14-sqlite/index.html" target="_blank">5. Accessing SQLite Databases </a></td> </tr>
      <tr> <td>12:45 PM</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td>  </tr>
      <tr> <td>12:50 PM</td>  <td>Wrap-up</td> </tr>
      <tr> <td>01:00 PM</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
